.container {
  border: 2px solid black;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  font-size: 1.2rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.head {
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  font-weight: 500;
}
.content {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 3fr 1fr 5fr 1fr;
  font-weight: 500;
  text-align: left;
}
.title {
  /* border: 2px solid green; */
  padding: 5px;
  margin-left: 20px;
}
.main {
  /* border: 2px solid green; */
  padding: 5px;
}
.controls {
  border: none;
  background-color: transparent;
  color: rgb(128, 123, 123);
}
