.container {
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  /* margin: 20px auto ; */
}
.name {
  border-bottom: 2px solid black;
  text-align: left;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.content {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 6fr 1fr 3fr;
  font-weight: 500;
  text-align: left;
}
.title {
  /* border: 2px solid green; */
  padding: 5px;
}
.main {
  /* border: 2px solid green; */
  text-transform: capitalize;
  padding: 5px;
}
.controls {
  /* border: 2px solid black; */
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.controls button {
  width: 60%;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
}
/* .status{
    
} */
.timer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
}
