.container{
    border: 2px solid black ;
    border-radius: 5px;
    width: 40%;
}
.name{
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10px ;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.controls{
    /* border: 2px solid black; */
    padding: 10px;
}
.controls button{
    width: 40%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
}
