.container{
    border: 2px solid black ;
    border-radius: 5px;
    width: 18%;
    position: relative;
    height : 35vh
}
.name{
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10px ;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.head{
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    font-weight: 500;
}
.content{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    font-weight: 500;
    text-align: left;
}
.title{
    /* border: 2px solid green; */
    padding: 5px;

}
.main{
    /* border: 2px solid green; */
    text-transform: capitalize;
    padding: 5px;
    margin-left: 5px;
}
.controls{
    /* border: 2px solid black; */
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.controls button{
    width: 40%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
}