.container{
    border: 2px solid black ;
    border-radius: 5px;
}
.name{
    border-bottom: 2px solid black;
    text-align: left;
    padding-left: 10px ;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.count{
    /* border: 2px solid orange; */
    /* display: flex; */
    /* flex-direction: column; */
    text-align: left;
    margin: 10px;
    margin-left: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    /* justify-content: space-evenly; */

}
.controls{
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.controls button{
    width: 40%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem;
}