/* .container {
  border: 2px solid red;
  margin-top: 30vh;
} */
h4{
  margin-bottom: 10px;
}
.head {
  /* border: 2px solid green; */
  padding: 2vh;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.controls{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.content {
  /* border: 2px solid blue; */
  padding: 10px;
  height: fit-content;
}
.build {
  /* border: 2px solid green; */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.inventory {
  border: 2px solid rgb(14, 13, 13);
  border-radius: 5px;
  width: 30%;
  margin: auto;
  margin-top: 5vh;
}
