.container {
  /* border: 2px solid red; */
  /* margin-top: 30vh; */
}
.head {
  /* border: 2px solid green; */
  padding: 2vh;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.content {
  /* border: 2px solid blue; */
  padding: 10px;
}
.build{
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.inventory{
  border: 2px solid rgb(14, 13, 13);
  border-radius: 5px;
  width: 20%;
  margin: auto;
  margin-top: 5vh;
}
.name{
  border-bottom: 2px solid black;
  padding: 10px ;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.box{
  text-align: left;
  margin: 5px;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
}