.container{
    /* border: 2px solid red; */
    justify-content: space-evenly;
    padding: 10px;
}
.container h4{
    margin-bottom: 20px;
}
.main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;

}