.container {
  /* border: 2px solid red; */
  margin-top: 30vh;
}
.body {
  /* border: 2px solid green; */
  padding: 5vh;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.control {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control button{
    width: 20%;
    margin: 10px;
}

